footer {
  background: var(--green); /* Christmas green */
  color: var(--light-grey);
  text-align: center;
  padding: 1rem;
  width: 100%;
  position: sticky;
  bottom: 0;
  font-family: 'Great Vibes', cursive;
}

footer p {
  color: var(--light-grey);
  font-size: large;
}

footer p a {
  color: var(--gold);
}

@media (min-width: 1024px) {
  footer {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  footer {
    padding: 1.2rem;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 1rem;
  }
}
